<!DOCTYPE html>
<html lang="en">
  {% block base_head %}
    <head>
      {% block base_head_title %}
        <title>
          New Twigger Project
        </title>
      {% endblock %}

      {% block base_head_meta %}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <meta name="theme-color" content="" />
        <meta name="language" content="" />
        <meta name="color-scheme" content="" />
        <meta name="copyright" content="" />
        <meta name="version" content="v{{ 'now'|date('Y.m.d') }}" />

        {% block base_head_meta_og %}
          <meta property="og:site_name" content="" />
          <meta property="og:title" content="" />
          <meta property="og:type" content="" />
          <meta property="og:description" content="" />
          <meta property="og:url" content="" />
          <meta property="og:image" content="" />
          <meta property="og:image:secure_url" content="" />
          <meta property="og:image:type" content="" />
        {% endblock %}

        {% block base_head_meta_twitter %}
          <meta property="twitter:card" content="" />
          <meta property="twitter:domain" content="" />
          <meta property="twitter:url" content="" />
          <meta property="twitter:title" content="" />
          <meta property="twitter:description" content="" />
          <meta property="twitter:image" content="" />
        {% endblock %}
      {% endblock %}

      {% block base_head_links %}
        <link rel="stylesheet" href="/style.css" />
      {% endblock %}

      {% block base_head_scripts %}
        <script src="/js/main.js" defer></script>
      {% endblock %}
    </head>
  {% endblock %}

  {% block base_body %}
    <body>
      {% block base_body_inner %}
      {% endblock %}
    </body>
  {% endblock %}
</html>
