{% extends '../includes/base.html.twig' %}

{% block base_body_inner %}
  <a href="https://github.com/JannikHv/twigger" target="_blank">
    <img id="twigger-logo" src="/assets/twigger-logo.svg" alt="Twigger logo" height="266" width="300">
  </a>
{% endblock %}